/*
    Created on : Oct 3, 2020, 11:14:52 PM
    Author     : Rahul
    some of the css snippets are from w3schools.com
*/
/*
#Revision history:
#
#DEVELOPER                         DATE                                COMMENTS
Rahul Pipaliya(2012728)         2020-10-30               css fixed and added design to navbar..
Rahul Pipaliya(2012728)         2020-10-29               removed extra code and added comments..
Rahul Pipaliya(2012728)         2020-10-22               Created Orders page , cart page and added functionalities and validations
Rahul Pipaliya(2012728)         2020-10-20               removed products code
Rahul Pipaliya(2012728)         2020-10-04               import init , first commit
*/
.navigation-bar {
    width: 100%;
    height: 80px;
    background-color: lightcoral;
}

.center {
    margin: auto;
    width: 50%;
    /*border: 3px solid green;*/
    padding: 100px;
}

.header {
    padding: 10px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

.logo {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 20px; /* if you want it vertically middle of the navbar. */
}


body {
    margin: 0;
}

ul.topnav {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

ul.topnav li a.active {
    background-color: #4CAF50;
}

ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}

.navigation-bar > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 80px; /* if you want it to take the full height of the bar */
    line-height: 80px; /* if you want it vertically middle of the navbar */

}

.footer {
    position: relative;
    font-size: larger;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #111;
    color: white;
    text-align: center;
    /*height: 80px;        !* if you want it to take the full height of the bar *!*/
    line-height: 80px;


    /*left: 0;*/
    /*bottom: 0;*/
    /*width: 100%;*/
    /*background-color: #111;*/
    /*color: white;*/
    /*text-align: center;*/
    /*line-height: 80px;*/
}

.title {
    text-align: center;
    margin: 1em 0 0.5em 0;
    color: #343434;
    font-weight: normal;
    font-family: 'Ultra', sans-serif;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    text-shadow: 0 2px white, 0 3px #777;
}


.sub-title {
    text-align: center;
    margin: 1em 0 0.5em 0;
    color: #343434;
    font-size: 22px;
    line-height: 40px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Orienta', sans-serif;
    letter-spacing: 1px;
    font-style: italic;
}

* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 350px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

#showcase {
    max-height: 450px;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial, sans-serif;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}


.content {
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial, sans-serif;
}

.content > img {
    max-height: 300px;
}

.price {
    color: grey;
    font-size: 22px;
    text-align: center;
}

.content button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(15, 115, 228);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}


.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

h1, h3 {
    text-align: center;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}


div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: yellow;
    padding: 50px;
    font-size: 20px;
}

#floating-cart-container {
    position: fixed;
    top: 50%;
    right: 0;
    cursor: pointer;
    width: 80px;
    height: 80px;
}

#cart-icon-container {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #8cc152;
}

/*SHOPPING CART PAGE*/

* {
    box-sizing: border-box;
}

body {
    color: #333;
    -webkit-font-smoothing: antialiased;
    font-family: 'Droid Serif', serif;
    background-color: #1ca3cc;
}

img {
    max-width: 100%;
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.wrap {
    width: 75%;
    max-width: 960px;
    margin: 0 auto;
    padding: 5% 0;
    margin-bottom: 5em;
}

.projTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    padding: 1em 0;
    border-bottom: 1px solid #dadada;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.projTitle span {
    font-family: 'Droid Serif', serif;
    font-weight: normal;
    font-style: italic;
    text-transform: lowercase;
    color: #777;
}

.heading {
    padding: 1em 0;
    border-bottom: 1px solid #d0d0d0;
}

.heading h1 {
    font-family: 'Droid Serif', serif;
    font-size: 2em;
    float: left;
}

.heading a.continue:link, .heading a.continue:visited {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.015em;
    font-size: 0.75em;
    padding: 1em;
    color: #fff;
    background: #82ca9c;
    font-weight: bold;
    border-radius: 50px;
    float: right;
    text-align: right;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

.heading a.continue:after {
    content: "\276f";
    padding: 0.5em;
    position: relative;
    right: 0;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -ms-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.heading a.continue:hover, .heading a.continue:focus, .heading a.continue:active {
    background: #f69679;
}

.heading a.continue:hover:after, .heading a.continue:focus:after, .heading a.continue:active:after {
    right: -10px;
}

.tableHead {
    display: table;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75em;
}

.tableHead li {
    display: table-cell;
    padding: 1em 0;
    text-align: center;
}

.tableHead li.prodHeader {
    text-align: left;
}

.cart {
    padding: 0em 201px;
}

.cart .items {
    display: block;
    width: 100%;
    vertical-align: middle;
    padding: 1.5em;
    border-bottom: 1px solid #fafafa;
}

.cart .items.even {
    background: #fafafa;
}

.cart .items .infoWrap {
    display: table;
    width: 100%;
}

.cart .items .cartSection {
    display: table-cell;
    vertical-align: middle;
}

.cart .items .cartSection .itemNumber {
    font-size: 1em;
    color: #333333;
    margin-bottom: 0.5em;
}

.cart .items .cartSection h3 {
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.025em;
}

.cart .items .cartSection p {
    display: inline-block;
    font-size: 0.85em;
    color: #777;
    font-family: 'Montserrat', sans-serif;
}

.cart .items .cartSection p .quantity {
    font-weight: bold;
    color: #333;
}

.cart .items .cartSection p.stockStatus {
    color: darkred;
    font-weight: bold;
    padding: 0.5em 0 0 1em;
    text-transform: uppercase;
}

.cart .items .cartSection p.stockStatus.out {
    color: #f69679;
}

.cart .items .cartSection .itemImg {
    width: 4em;
    float: left;
}

.cart .items .cartSection.qtyWrap, .cart .items .cartSection.prodTotal {
    text-align: center;
}

.cart .items .cartSection.qtyWrap p, .cart .items .cartSection.prodTotal p {
    font-weight: bold;
    font-size: 1.25em;
}

.cart .items .cartSection input.qty {
    width: 2em;
    text-align: center;
    font-size: 1em;
    padding: 0.25em;
    margin: 1em 0.5em 0 0;
}

.cart .items .cartSection .itemImg {
    width: 8em;
    display: inline;
    padding-right: 1em;
}

.special {
    display: block;
    font-family: 'Montserrat', sans-serif;
}

.special .specialContent {
    padding: 1em 1em 0;
    display: block;
    margin-top: 0.5em;
    border-top: 1px solid #dadada;
}

.special .specialContent:before {
    content: "\21b3";
    font-size: 1.5em;
    margin-right: 1em;
    color: #6f6f6f;
    font-family: helvetica, arial, sans-serif;
}

a.remove {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: bold;
    background: #e0e0e0;
    padding: 0.5em;
    font-size: 0.75em;
    display: inline-block;
    border-radius: 100%;
    line-height: 0.85;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

a.remove:hover {
    background: #f30;
}

.promoCode {
    border: 2px solid #efefef;
    float: left;
    width: 35%;
    padding: 2%;
}

.promoCode label {
    display: block;
    width: 100%;
    font-style: italic;
    font-size: 1.15em;
    margin-bottom: 0.5em;
    letter-spacing: -0.025em;
}

.promoCode input {
    width: 85%;
    font-size: 1em;
    padding: 0.5em;
    float: left;
    border: 1px solid #dadada;
}

.promoCode input:active, .promoCode input:focus {
    outline: 0;
}

.promoCode a.btn {
    float: left;
    width: 15%;
    padding: 0.75em 0;
    border-radius: 0 1em 1em 0;
    text-align: center;
    border: 1px solid #82ca9c;
}

.promoCode a.btn:hover {
    border: 1px solid #f69679;
    background: #f69679;
}

.btn:link, .btn:visited {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.015em;
    font-size: 1em;
    padding: 1em 3em;
    color: #fff;
    background: #82ca9c;
    font-weight: bold;
    border-radius: 50px;
    float: right;
    text-align: right;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

.btn:after {
    content: "\276f";
    padding: 0.5em;
    position: relative;
    right: 0;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -ms-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.btn:hover, .btn:focus, .btn:active {
    background: #f69679;
}

.btn:hover:after, .btn:focus:after, .btn:active:after {
    right: -10px;
}

.promoCode .btn {
    font-size: 0.85em;
    paddding: 0.5em 2em;
}

/* TOTAL AND CHECKOUT */
.subtotal {
    float: right;
    width: 35%;
}

.subtotal .totalRow {
    padding: 0.5em;
    text-align: right;
}

.subtotal .totalRow.final {
    font-size: 1.25em;
    font-weight: bold;
}

.subtotal .totalRow span {
    display: inline-block;
    padding: 0 0 0 1em;
    text-align: right;
}

.subtotal .totalRow .label {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85em;
    text-transform: uppercase;
    color: #777;
}

.subtotal .totalRow .value {
    letter-spacing: -0.025em;
    width: 35%;
}

@media only screen and (max-width: 39.375em) {
    .wrap {
        width: 98%;
        padding: 2% 0;
    }

    .projTitle {
        font-size: 1.5em;
        padding: 10% 5%;
    }

    .heading {
        padding: 1em;
        font-size: 90%;
    }

    .cart .items .cartSection {
        width: 90%;
        display: block;
        float: left;
    }

    .cart .items .cartSection.qtyWrap {
        width: 10%;
        text-align: center;
        padding: 0.5em 0;
        float: right;
    }

    .cart .items .cartSection.qtyWrap:before {
        content: "QTY";
        display: block;
        font-family: 'Montserrat', sans-serif;
        padding: 0.25em;
        font-size: 0.75em;
    }

    .cart .items .cartSection.prodTotal, .cart .items .cartSection.removeWrap {
        display: none;
    }

    .cart .items .cartSection .itemImg {
        width: 25%;
    }

    .promoCode, .subtotal {
        width: 100%;
    }

    a.btn.continue {
        width: 100%;
        text-align: center;
    }
}


#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
    background: #5684b5;
    padding: 25px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
    width: 70%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    background: #43A047;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
    text-align: center;
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

.error {
    color: #FF0000;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

th, td {
    text-align: left;
    padding: 8px;
    border: 2px solid #333333;
}

tr:nth-child(odd) {
    background-color: #f69679;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


button,
input {
    border: none;
    outline: none;
}

/****************
      FORM
*****************/
.signup {
    background-color: white;
    width: 100%;
    max-width: 500px;
    padding: 50px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 20px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

h1 {
    text-align: center;
    color: #a4243b;
}

h2 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: lighter;

    margin-bottom: 40px;
}

h2 span {
    text-decoration: underline;
    cursor: pointer;
    color: #a4243b;
}

/*  Field */
.signup__field {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}

.signup__field:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 0px;
    height: 2px;
    background: #a4243b;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.4s ease;
}

.signup__field:hover:before {
    width: 100%;
}

/*  Input */
.signup__input {
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    padding: 10px 2px 0;
    border-bottom: 2px solid #e0e0e0;
}

/*  Label */
.signup__label {
    color: #bdbdbd;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2px;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.signup__input:focus + .signup__label,
.signup__input:valid + .signup__label {
    top: 0;
    font-size: 1rem;
    background-color: white;
}

/*  Button */
button {
    background: #a4243b;
    color: white;
    padding: 12px 0;
    font-size: 1.2rem;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 10px
}

button:hover {
    background: #4b111b;
}
